* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  display: flex;
  position: relative;
  background-color: #1b2838;
}

header {
  border-style: solid;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url(cabecalho.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}

.navbar a {
  display: block;
  float: left;
  color: #f8f8fa;
  padding: 5px 20px;
  margin: 5px auto 1px 5px;
  width: 140px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border: 2px solid black;
}

.navbar a:hover {
  width: 141px;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
  color: black;
}

.home {
  border-style: solid;
  width: 50px;
  background: linear-gradient(
    -60deg,
    rgba(7, 152, 241, 0.6) 5%,
    rgba(243, 3, 23, 0.4) 95%
  );
}

.news {
  border-style: solid;
  width: 110px;
  background: linear-gradient(
    -60deg,
    rgba(7, 152, 241, 0.6) 5%,
    rgba(243, 3, 23, 0.4) 95%
  );
}

.contact {
  border-style: solid;
  width: 70px;
  background: linear-gradient(
    -60deg,
    rgba(7, 152, 241, 0.6) 5%,
    rgba(243, 3, 23, 0.4) 95%
  );
}

.divmain {
  background-image: url(page.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  flex: 1;
  position: absolute;
  top: 100px;
  left: 50px;
  max-width: 1800px;
  width: 95%;
}

.titulojogo {
  position: absolute;
  top: 15px;
  left: 320px;
  color: #fff;
  text-shadow: 2px 2px 5px black;
}

.container {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 70px;
  left: 300px;
  max-width: 625px;
}

.imgdescricao {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100px;
  left: 1015px;
  max-width: 550px;
}

.slider-wrapper {
  width: 620px;
  position: relative;
  bottom: 10px;
  white-space: nowrap;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #444;
}

.slider-wrapper .slide-button#prev-slide {
  left: -20px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  left: 590px;
}

.slider-wrapper .image-list {
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 1%;
}

.container .slider-scrollbar {
  height: 24px;
  width: 97%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.imgdescricao img {
  width: 400px;
  height: 200px;
  color: white;
  font-size: 16px;
  border: 2px solid white;
  box-shadow: 2px 2px 15px 8px black;
}

.imgdescricao p {
  color: white;
  font-size: 16px;
  text-shadow: 2px 2px 2px black;
}

.divalt {
  background-position: center;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  justify-content: space-between;
  margin: 0 auto;
}

.button {
  display: block;
  position: relative;
  left: 1300px;
  top: 345px;
  border: 3px solid black;
  border-radius: 5px;
  background: #6fa720;
  background: -webkit-linear-gradient(top, #6fa720 5%, #588a1b 95%);
  background: linear-gradient(to bottom, #6fa720 5%, #588a1b 95%);
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  color: white;
  padding-top: 1px;
  padding-right: 5px;
  font-size: 18px;
  line-height: 30px;
  max-width: 100px;
  min-width: 100px;
  box-shadow: 2px 2px 15px 5px black;
}

.button:hover {
  width: 95px;
  height: 36px;
  opacity: 0.8;
  transition: all 0.2s ease-in;
  color: black;
  background-size: cover;
}

.preco {
  display: block;
  position: relative;
  background-color: #000000;
  font-size: 13px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 12px;
  height: 24px;
  max-width: 70px;
  left: 1230px;
  top: 391px;
  box-shadow: 2px 2px 15px 1px black;
  border-radius: 10%;
}

.buttonbackground {
  background: linear-gradient(
    -60deg,
    rgba(7, 152, 241, 0.3) 5%,
    rgba(243, 3, 23, 0.219) 95%
  );
  position: relative;
  left: 1000px;
  top: 420px;
  border-radius: 4px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #c6d4df;
  padding: 16px;
  padding-bottom: 26px;
  margin-bottom: 28px;
  max-width: 300px;
  z-index: 1;
  box-shadow: 2px 2px 15px 4px black;
}

.div1 {
  position: absolute;
  top: 640px;
  left: 100px;
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
  color: #fff;
  font-size: 20px;
  margin: 5px auto 10px 5px;
  text-shadow: 2px 2px 5px black;
}

.sub {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 5px auto 10px 5px;
}

.sub h3 {
  text-align: center;
}

form {
  text-align: center;
  margin: 0.4rem 2rem;
}

.email-sub {
  padding: 0.2rem;
  border-radius: 4px;
}

.email-sub:focus {
  outline: none;
}

.submit-btn {
  background-color: #095cf7;
  color: #fff;
  padding: 0.3rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 15px 8px black;
}

.submit-btn:hover {
  width: 98px;
  height: 27px;
  opacity: 0.7;
  transition: all ease-in-out 0.2s;
  background-size: cover;
}

.social {
  background: rgba(0, 0, 0, 0);
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 5px auto 10px 5px;
}

.socicons {
  font-size: 1.3rem;
}

.fa {
  padding: 12px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 20%;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  width: 61px;
  height: 61px;
  opacity: 0.7;
  transition: all ease-in-out 0.1s;
  background-size: cover;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  box-shadow: 2px 2px 15px 2px black;
}

.fa-twitter {
  background: #55acee;
  color: white;
  box-shadow: 2px 2px 15px 2px black;
}

.fa-instagram {
  background: #e97474;
  color: white;
  box-shadow: 2px 2px 15px 2px black;
}

#mobile {
  display: none;
}

#outros {
  display: flex;
  clear: both;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 1330px;
}

#outrosfixoverflow {
  overflow: hidden;
  width: 1330px;
  height: 460px;
}

#outros img {
  max-width: 100%;
  border: 0px;
}

#outros a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

#outros a:focus,
#outros a:active,
#outros a:visited,
#outros a:hover {
  text-decoration: none;
  outline: none;
}

#outros h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

#outros h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}

.line-title {
  position: relative;
  width: 400px;
  top: -65px;
  color: #fff;
}

.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

.line-title::before {
  width: 25%;
  background: #f2f2f2;
}

.line-title::after {
  width: 30px;
  background: linear-gradient(
    -60deg,
    rgba(7, 152, 241, 0.9) 5%,
    rgba(243, 3, 23, 0.9) 95%
  );
}

.game-section {
  display: block;
  position: relative;
  top: 1300px;
  padding: 60px 120px;
}

.game-section .item {
  margin: 0 15px 60px;
  width: 380px;
  height: 400px;
  display: block;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  top: -100px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px black;
}

.game-section .item:hover {
  width: 390px;
  height: 410px;
  transition: all ease-in-out 0.2s;
  background: black;
  background-size: cover;
}

.game-section .item2 {
  margin: 0 15px 60px;
  width: 380px;
  height: 400px;
  display: block;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  top: -560px;
  left: 400px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px black;
}

.game-section .item2:hover {
  width: 390px;
  height: 410px;
  transition: all ease-in-out 0.2s;
  background: black;
  background-size: cover;
}

.game-section .item3 {
  margin: 0 15px 60px;
  width: 380px;
  height: 400px;
  display: block;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  top: -1020px;
  left: 800px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px black;
}

.game-section .item3:hover {
  width: 390px;
  height: 410px;
  transition: all ease-in-out 0.2s;
  background: black;
  background-size: cover;
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#ftr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: -1500px;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  background-size: 100% 130px;
  height: 130px;
  width: 100%;
  overflow: hidden;
}

#ftr nav a {
  text-decoration: none;
}

#ftr nav a:visited {
  border-color: hotpink;
  color: hotpink;
}

.about {
  text-decoration: none;
  color: darkturquoise;
}

/* INICIO DA VERSÃO PARA MONITOR PEQUENO */
@media (max-width: 1482px) {
  #home {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .slider-wrapper .slide-button {
    display: block !important;
    z-index: 3;
  }

  .jogo {
    display: block;
    position: relative;
    right: 200px;
    top: -40px;
  }

  .titulojogo {
    display: block;
    position: relative;
    left: 120px;
  }

  .divalt {
    display: block;
    position: relative;
    right: 200px;
    top: -40px;
  }

  #outros {
    display: block;
    position: relative;
    top: 10px;
    left: -20px;
  }
}

@media (max-width: 1282px) {
  .slider-wrapper .slide-button {
    display: block !important;
    z-index: 3;
  }

  #home {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .jogo {
    display: block;
    position: relative;
    right: 300px;
    top: -40px;
  }

  .titulojogo {
    display: block;
    position: relative;
    left: 20px;
  }

  .divalt {
    display: block;
    position: relative;
    right: 300px;
    top: -40px;
  }

  #outros {
    display: block;
    position: relative;
    top: 10px;
    left: -100px;
  }
}

@media (max-width: 1180px) {
  .slider-wrapper .slide-button {
    display: block !important;
    z-index: 3;
  }

  header {
    right: 2px;
  }

  #home {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .jogo {
    display: block;
    position: relative;
    right: 440px;
    top: -40px;
  }

  .titulojogo {
    display: block;
    position: relative;
    left: -100px;
  }

  .divalt {
    display: block;
    position: relative;
    right: 450px;
    top: -40px;
  }

  #outros {
    display: block;
    position: relative;
    top: 90px;
    left: -220px;
  }

  .game-section .item {
    display: block;
    position: absolute;
    width: 280px;
    height: 280px;
    top: 60px;
    margin-left: 1px;
  }

  .game-section .item:hover {
    width: 290px;
    height: 290px;
    transition: all ease-in-out 0.2s;
    background: black;
    background-size: cover;
  }

  .game-section .item2 {
    display: block;
    position: absolute;
    width: 280px;
    height: 280px;
    top: 60px;
  }

  .game-section .item2:hover {
    width: 290px;
    height: 290px;
    transition: all ease-in-out 0.2s;
    background: black;
    background-size: cover;
  }

  .game-section .item3 {
    display: block;
    position: absolute;
    width: 280px;
    height: 280px;
    top: 60px;
    left: 695px;
  }

  .game-section .item3:hover {
    width: 290px;
    height: 290px;
    transition: all ease-in-out 0.2s;
    background: black;
    background-size: cover;
  }
}

@media (max-width: 1140px) {
  .slider-wrapper .slide-button {
    display: block !important;
    z-index: 3;
  }

  header {
    right: 2px;
  }

  #home {
    width: 58%;
    height: auto;
    margin: 0 auto;
  }

  .jogo {
    display: block;
    position: relative;
    right: 580px;
    top: -40px;
  }

  .slider-scrollbar {
    display: none;
  }

  .scrollbar-thumb {
    display: none;
  }

  .scrollbar-track {
    display: none;
  }

  .titulojogo {
    display: block;
    position: relative;
    left: -250px;
  }

  .divalt {
    display: block;
    position: relative;
    right: 620px;
    top: -40px;
  }

  #outros {
    display: block;
    position: relative;
    top: 180px;
    left: -220px;
  }

  .game-section .item {
    display: block;
    position: absolute;
    width: 280px;
    height: 280px;
    top: 60px;
    margin-left: 5px;
  }

  .game-section .item2 {
    display: block;
    position: absolute;
    width: 280px;
    height: 280px;
    top: 60px;
  }

  .game-section .item3 {
    display: block;
    position: absolute;
    width: 280px;
    height: 280px;
    top: 60px;
    left: 690px;
  }
}

@media (max-width: 1120px) {
  .slider-wrapper .slide-button {
    display: block !important;
    z-index: 3;
  }

  header {
    right: 2px;
  }

  #home {
    display: block;
    width: 58%;
    height: auto;
    margin: 0 auto;
    overflow: auto;
  }

  .container {
    display: block;
    position: absolute;
    left: 350px;
  }
}
/* FIM DA VERSÃO PARA MONITOR PEQUENO */

/* INICIO DA VERSÃO PARA CELULAR (EM DESENVOLVIMENTO) */
/* Não consegui corrigir o scroll nessa versão*/
@media (max-width: 430px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 5px;
    margin-top: 240px;
  }

  .slider-wrapper .image-list .image-item {
    display: block;
    position: relative;
    left: 240px;
    width: 100px;
    height: 140px;
    border-radius: 5%;
  }

  .slider-scrollbar {
    display: none;
  }

  .scrollbar-thumb {
    display: none;
  }

  .scrollbar-track {
    display: none;
  }

  header {
    border-style: solid;
    position: fixed;
    overflow: hidden;
    left: 0px;
    max-width: 428px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
  }

  .navbar a {
    display: block;
    float: left;
    color: #f2f2f2;
    padding: 5px 20px;
    margin: 5px auto 1px 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    border: 2px solid black;
  }

  #home {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .titulojogo {
    display: block;
    position: relative;
    left: 60px;
    top: 5px;
    font-size: 12px;
  }

  .imgdescricao {
    display: block;
    position: relative;
    left: 620px;
    top: 50px;
    max-width: 280px;
  }

  .imgdescricao img {
    width: 250px;
    height: 130px;
  }

  .imgdescricao p {
    font-size: 12px;
  }

  #aboutgame {
    display: block;
    position: relative;
    left: -10px;
    top: 720px;
    max-width: 420px;
  }

  .divalt {
    display: block;
    position: relative;
    left: -1040px;
    top: -165px;
  }

  #outros {
    display: block;
    position: relative;
    top: -580px;
  }

  #outrosfixoverflow {
    overflow: hidden;
  }

  .line-title {
    display: block;
    position: absolute;
    left: 120px;
  }

  .game-section .item {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 250px;
  }

  .game-section .item:hover {
    width: 102px;
    height: 102px;
    transition: all ease-in-out 0.2s;
    background: black;
    background-size: cover;
  }

  .game-section .item2 {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 350px;
  }

  .game-section .item2:hover {
    width: 102px;
    height: 102px;
    transition: all ease-in-out 0.2s;
    background: black;
    background-size: cover;
  }

  .game-section .item3 {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 460px;
  }

  .game-section .item3:hover {
    width: 102px;
    height: 102px;
    transition: all ease-in-out 0.2s;
    background: black;
    background-size: cover;
  }

  #mobile {
    display: block;
    position: relative;
    top: 800px;
    background: rgba(0, 0, 0, 0.5);
  }

  #ftr {
    display: none;
  }
}
/* FIM DA VERSÃO PARA CELULAR */
